:root {
  --color-black: #0d0d0d;
  --color-off-white: #f5f5dc;
  --color-deep-red: #8b0000;
  --color-metallic-gold: #daa520;
  --color-muted-olive: #556b2f;
  --color-slate-gray: #708090;
  --color-bright-cyan: #00ffff;
}

@font-face {
  font-family: 'English-Towne';
  src: url('./Assets/EnglishTowne.ttf');
}

@font-face {
  font-family: 'Cardo';
  src: url('./Assets/Cardo/Cardo-Regular.ttf');
}

@font-face {
  font-family: 'Cardo-Bold';
  src: url('./Assets/Cardo/Cardo-Bold.ttf');
}

html {
  background-color: var(--color-off-white);
}

body {
  font-family: 'Cardo';
}

nav {
  color: var(--main-orange);
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 2px solid var(--color-deep-red);
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  list-style: none;
  font-family: 'Acme';
  margin: 20px;
  font-size: 1.75rem;
  padding: 5px;
}

nav li:hover {
  background-color: var(--color-black);
  color: var(--color-deep-red);
  padding: 5px;
  border-radius: 10px;
}

nav a {
  color: var(--dark-orange);
  text-decoration: none;
}

.nav-user {
  margin-right: 40px;
  font-size: 1.75rem;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;

}

.nav-logout {
  margin-left: 25px;
  background-color: var(--color-black);
  color: var(--color-deep-red);
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
}

.nav-cart-number {
  background-color: var(--color-deep-red);
  color: var(--color-off-white);
  font-size: 1.5rem;
  padding: 10px;
  width: 50%;
  border-radius: 50%;

  p {
    margin: 0
  }
}

.nav-cart {
  height: 50px;
  width: auto;
  display: flex;
  text-align: center;
}

.nav-user:hover {
  background-color: var(--color-black);
  color: var(--color-deep-red);
  padding: 5px;
  border-radius: 10px;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 10%;
}

.registration h2 {
  font-size: 2em;
}

.registration label {
  font-weight: bold;
}

.registration input {
  margin: 20px;
  background-color: var(--color-off-white);
  border-radius: 5px;
  border: 3px solid var(--color-black);
  height: 40px;
  width: 300px;
}

.registration .submit {
  margin: 40px;
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--color-black);
  width: 45%;
  height: 60%;
  background-color: var(--color-deep-red);
  box-shadow: inset 0px 0px 3px 5px var(--color-off-white);
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit {
  font-weight: bold;
}

.home-page {
  text-align: center;
}

.hero {
  height: 50vh;
}

.banner {
  width: 100%;
  height: auto;
  background-color: black;
  margin: 100px 0;
}

.home-page h1 {
  font-family: 'English-Towne';
  font-size: 8em;
  font-weight: 400;
  margin: 30px;
}

.home-page h2 {
  font-family: 'Cardo-Bold';
  color: var(--color-deep-red);
  font-size: 3em;
  padding: 0 0 40px 0;
  margin: 0;
}

.card-list {
  display: flex;
  justify-content: space-evenly;
}

.product-card {
  border: 2px solid var(--color-black);
  text-align: center;
  height: 350px;
  width: 300px;
  margin: 50px 0;
  box-shadow: 2px 2px 5px var(--color-black);
}

.product-card img {
  margin: 30px;
}

.product-card h3 {
  margin: 0;
}

.price {
  font-weight: bold;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 10%;
}

.login h2 {
  font-size: 2em;
}

.login label {
  font-weight: bold;
}

.login input {
  margin: 20px;
  background-color: var(--color-off-white);
  border-radius: 5px;
  border: 3px solid var(--color-black);
  height: 40px;
  width: 300px;
}

.login .submit {
  margin: 30px;
  width: 150px;
}

.login-card {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-button {
  background-color: blue;
  height: 40px;
  width: 200px;
  font-weight: bold;
  box-shadow: inset 0px 0px 3px 5px var(--color-off-white);
  margin: 10px;
}

#google-button {
  margin: 10px;
  width: 200px;
  height: 40px;
}

.product-list {
  text-align: center;
}

.product-name {
  margin: 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  height: 50%;
  width: 90%;
  padding-bottom: 50px;
  border-bottom: 2px solid var(--color-deep-red);
}

.product-page {
  height: 100vh;
}

.product-page-name {
  font-size: 2.5rem;
  margin: 0;
}

.product-image {
  height: 100%;
  width: 50%;
}

.price-box {
  border-radius: 5px;
  border: 3px solid var(--color-black);
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 2px 5px var(--color-black);
}

.product-price {
  color: var(--color-deep-red);
  font-size: 2rem;
}

.add-to-cart-button {
  width: 90%;
  font-size: 1.5rem;
  background-color: var(--color-black);
  color: var(--color-metallic-gold);
  font-weight: bold;
  height: 15%;
}

.info-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: 100%;
  background-color: var(--color-slate-gray);
  border-radius: 15px;
  opacity: 85%;
}

.info-text {
  opacity: 100%;
  text-align: center;
  width: 100%;

  h3 {
    font-weight: bold;
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}
